  @font-face {
    font-family: Splatfont2;
    src:
    url("../font/Splatfont2.ttf");
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  #main-container {
    position: relative;
  }   
  footer {
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  map img{
    border-radius: 45px;
  }
  .image_gallery_playertype {
    display: flex;
    flex-wrap: wrap;
  }
  
  .player_playertype {
    border: 2px solid white;
    cursor: pointer;
    width: 100px;
    margin: 1px 5px;
    transition: 0.2s;
    border-radius: 23.5px;
  }
  
  .player_playertype:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_playertype[selected="true"]{
    border: 2px solid var(--bs-primary);
  }
  
  .image_gallery_skin {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .player_skintone {
    border: 2px solid white;
    cursor: pointer;
    width: 95px;
    padding-top: 10px;
    margin: 2px 5px;
    flex-shrink: 0;
    border-radius: 23.5px;
    transition: 0.2s;
  }
  
  .player_skintone:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_skintone[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .image_gallery_eyecolor {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .player_eyecolor {
    border: 2px solid white;
    cursor: pointer;
    width: 95px;
    padding-top: 10px;
    margin: 2px 5px;
    flex-shrink: 0;
    border-radius: 23.5px;
    transition: 0.2s;
  }
  
  .player_eyecolor:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_eyecolor[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .image_gallery_hair {
    background-color: #999;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
  }
  
  .player_hair {
    border: 2px solid rgba(255, 255, 255, 0);
    transition: 0.2s;
    cursor: pointer;
    width: 95px;
    padding: 0 5px;
    margin: 5px 5px;
    border-radius: 23.5px;
    flex-shrink: 0;
  }
  
  .player_hair:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_hair[selected="true"]{
    border: 2px solid var(--bs-primary);
  }
  
  map{
    cursor: pointer;
  }

  .image_gallery_eyebrow {
    background-color: #999;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
  }
  
  .player_eyebrow {
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    width: 95px;
    height: 100px;
    object-fit: cover;
    margin: 5px 5px;
    flex-shrink: 0;
    border-radius: 23.5px;
    transition: 0.2s;
  }

  .player_eyebrow:hover {
    border: 2px solid var(--bs-gray-500);
  }
  
  .player_eyebrow[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .image_gallery_pants {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
  }
  
  .player_bottom {
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    width: 95px;
    padding: 5px;
    margin: 1px 5px;
    flex-shrink: 0;
    border-radius: 23.5px;
    transition: 0.2s;
  }
  
  .player_bottom:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_bottom[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .customize-container {
    max-width: 100%;
    overflow-x: auto;
  }

  .customize {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    width: fit-content;
  }
  
  .CstContainer {
    position: relative;
    width: 250px; 
    height: 300px; 
    display: inline-block; 
    vertical-align: top; 
  }
  
  .base {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .item {
    position: absolute;
    top: 88px;
    left: 59px;
    z-index: 2;
    cursor: pointer;
  }
  
  .chosenWpn {
    position: absolute;
    transform: translate(33px, 245px);
    z-index: 2;
    color: #fff;
    font-family: 'Splatfont2';
    font-size: 17px;
    white-space: nowrap;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-align: center;
     justify-content: center;
  }

  .chosenHed {
    position: absolute;
    transform: translate(33px, 245px);
    z-index: 2;
    color: #fff;
    font-family: 'Splatfont2';
    font-size: 17px;
    white-space: nowrap;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-align: center;
     justify-content: center;
  }

  .chosenClt {
    position: absolute;
    transform: translate(33px, 245px);
    z-index: 2;
    color: #fff;
    font-family: 'Splatfont2';
    font-size: 17px;
    white-space: nowrap;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-align: center;
     justify-content: center;
  }

  .chosenShs {
    position: absolute;
    transform: translate(33px, 245px);
    z-index: 2;
    color: #fff;
    font-family: 'Splatfont2';
    font-size: 17px;
    white-space: nowrap;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-align: center;
     justify-content: center;
  }

  .image_gallery_map {
    display: flex;
    flex-wrap: wrap;
  }
  
  .vs_map {
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 20px; 
    border-radius: 23.5px;
    scale: 120%;
  }

  .vs_map:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .vs_map[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .image_gallery_weapon {
    display: flex;
    flex-wrap: wrap;
  }
  
  .player_weapon {
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 20px; 
    border-radius: 23.5px;
    scale: 120%;
  }
  
  .player_weapon:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_weapon[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .image_gallery_gear {
    display: flex;
    flex-wrap: wrap;
  }
  
  .player_headgear {
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 20px; 
    border-radius: 23.5px;
    scale: 120%;
  }

  .player_headgear:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_headgear[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .player_clothes {
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 20px; 
    border-radius: 23.5px;
    scale: 120%;
  }

  .player_clothes:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_clothes[selected="true"]{
    border: 2px solid var(--bs-primary);
  }

  .player_shoes {
    border: 2px solid white;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 20px; 
    border-radius: 23.5px;
    scale: 120%;
  }
  
  .player_shoes:hover {
    border: 2px solid var(--bs-gray-500);
  }

  .player_shoes[selected="true"]{
    border: 2px solid var(--bs-primary);
  }